    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    nav{
        position: fixed;
        width: 100%;
        height: 75px;
        line-height: 75px;
        padding: 0px 10px;

        background: #FFC13A;
    }
    nav .logo{
        position: fixed;
        width: 100px;
        height: 75px;
        left: 89px;

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 75px;

        color: #000000;
    }
    nav ul {
        float: right;
      }
      
    nav li {
        display: inline-block;
        list-style: none;
      }
      
    nav li a {
        padding: 0px 30px;

        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-decoration: none;

        color: #000000;
      }
    
    .dropdown{
        
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-decoration: none;

        color: #000000;
      }

    .active {
        position: absolute;
        width: 140px;
        height: 75.03px;
        left: 930px;
        top: -3px;

        background-color: #FFAF00;
        ;
      }
      